/* Partially based on Kroc Camen's code -- http://camendesign.com/ */
li {margin:0 auto;}
html {
	height:100%;
	width:680px;
	margin:0 auto;
	padding:40px 0 100px 0;
	/* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
	box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
	overflow:hidden;
}
body {
	position:relative;
	min-height: 100%;
	margin:0 0 40px;
	padding:0 0 20px;
	border: 4px solid #FFC800;
	border-radius: 12px;
		-webkit-border-radius: 12px;                      /* << vnd.SC */
		-moz-border-radius: 12px;                         /* << vnd.Fx */
	box-shadow: 5px 5px 25px rgba(0,0,0,0.5);
		-webkit-box-shadow: 5px 5px 25px rgba(0,0,0,0.5); /* << vnd.Ch5 [+] */
	overflow:auto;
}
#Title {
	position:absolute;
	left:0.651em;
	width:100%;
	z-index:2;
}
body>nav {
	position:absolute;
	top:6em;
	left:6px;
	z-index:1;
}
ul {padding:0; margin:0; list-style:none;}
nav a {display:block;}
nav>ul>li {
	border:2px solid #AF2303;
	border-bottom:0;
	display:inline-block;
	text-align:center;
	padding:2px;
	vertical-align:top;
	height:1.125em;
	overflow:hidden;
	width:40.5em;
	background-color:#FFC800;
	transition:height 1s, background-color 1s;
		-moz-transition:height 1s, background-color 1s;   /* << vnd.Fx */
		-webkit-transition:height 1s, background-color 1s;/* << vnd.SC */
		-o-transition:height 1s, background-color 1s;     /* << vnd.OP */
}
nav>ul>li:last-of-type {
	border-bottom:2px solid #AF2303;
}
nav>ul>li:hover {
	height:10em;
	background-color:#FFDE70;
}
body>nav>ul>li>* {font-weight:normal;}
body>nav>ul>li>ul>li>a {display:inline-block;}
body>nav>ul>li>ul>li {
	width:100px;
	height:50px;
	display:inline-block;
	border:1px solid #AF2303;
	vertical-align:top;
	margin-bottom:4px;
}
body>nav>ul>li {font-weight:bold;}
body>section {
	position:absolute;
	top:50%;
}
#nopointer {
	text-indent:0;
	font-size:110%;
	margin:1em auto;
	text-align:center;
	width:50%;
	position:absolute;
	top:30%;
	left:25%;
}
#nopointer a {display:inline;}